@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../AuthModal.scss" as *;

.forgot-password-modal {
  &__title {
    @extend .auth-modal__title;
    margin-bottom: 20px;
  }

  &__form {
    @extend .auth-modal__form;
  }

  &__group {
    position: relative;
  }

  &__input {
    @extend .auth-modal__input;

    &.is-invalid {
      border-color: $colorError;
      background-color: rgba($colorError, 0.1);
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: $colorError;
    font-size: $fontSizeXS;
  }

  &__submit {
    @extend .auth-modal__submit;
    width: 175px;
    background: $colorTextSecondary;

    &:hover:not(.is-active) {
      background: darken($colorTextSecondary, 10%);
    }

    &.is-active {
      background: $colorGreenBlue;

      &:hover {
        background: $colorGreen;
      }
    }
  }

  &__description {
    text-align: center;
    color: $colorTextSecondary;
    font-size: $fontSizeS;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__hint {
    font-size: 12px;
    color: #2d7585;
    text-align: center;
    margin-top: 189px;
  }

  @media (max-width: 768px) {
    &__input {
      width: 100%;
    }

    &__submit {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__form {
      gap: 15px;
    }

    &__hint {
      margin-top: 100px;
    }
  }
}